* {
    margin: 0;
    padding: 0;
}
.dark-theme {
    --primary-color: black;
    --secondary-color: white;
  }
  
  .white-theme{
    --primary-color:whitesmoke;
    --secondary-color:black;
   
  }
body {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

nav {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112; 
  
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);  
}

nav img {
  width: 200px;
  
}


.navigation ul li{
    display: inline-block;
    padding: 12px 0px;
    list-style: none;
    transition: all 0.5s;
}
.navigation{
    background: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.navigation a{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    opacity: 0.8;
}

.navigation ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: cornflowerblue;
    transition: 0.5s;
}

.navigation ul li a:hover::after {
    width: 100%;
}
#home {
    border-bottom: 2px solid cornflowerblue;
}
#boardtitle,.thirdbanner h1{
    margin-top: 50px;
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 0px;  
    font-family: 'poppins',regular-400;
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: normal;
}

.secondbanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
    background: transparent;
    text-align: center;
}

.secondbanner h1 {
    color: var(--secondary-color);
    margin-top: 30px;
    letter-spacing: 12px;
    word-spacing: 0px;
    font-size: 20px;
    font-family: 'poppins',regular-400;
    opacity: 0.5;
    font-weight: normal;
}
.secondbanner i{
    color: cornflowerblue;
    opacity: 0.5;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
    background: transparent;
    
}
.banner h1 {
    color: var(--secondary-color);
    margin-top: 30px;
    letter-spacing: 8px;
    word-spacing: 0px;  
    font-family: 'poppins',regular-400;
    font-size: 30px;
   
}

.list ol li{
    list-style: decimal;
}
.flex-div {
    display: flex;
    align-items: center;
}

.thumbnail {
    width: 250px;
    height: 150px;
    border-radius: 10px;
   }

.accounticon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 5px;
}

.videodescription{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.video p{
    font-size: 13px;
    color: lightskyblue;
    font-family: 'poppins',sans-serif;
}

.contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
}

  #preloader
{
    background: whitesmoke url("../../images/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}
.verify img{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
#time{
    font-size: 12px;
    opacity: 0.6;
    z-index: 1;
}
.video p,a{
    color: var(--secondary-color);
    opacity: 1;
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    z-index: 1;
    opacity: 0.9;
}
a{
    text-decoration: none;
}
.second-nav{
    display: none;
}
.navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:1200px) and (orientation:landscape){

    .contentcontainer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin-top: 50px;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    .thumbnail,.videodescription{
        width: 225px;
    }
    
    .video p,a{
        font-size: 12px;
        z-index: 1;
        opacity: 0.9;
    }
    #time{
        font-size: 10px;
        opacity: 0.6;
        z-index: 1;
    }
    }

    @media (max-width:800px) and (orientation:landscape){

        .contentcontainer{
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-column-gap: 10px;
            grid-row-gap: 50px;
            margin-top: 50px;
            margin-left: 8px;
            margin-right: 8px;
        }
        
        .thumbnail,.videodescription{
            width: 200px;
        }
        
        
        }

@media (max-width:1200px) and (orientation:portrait){

.contentcontainer{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
}

.thumbnail,.videodescription{
    width: 225px;
}

.video p,a{
    font-size: 12px;
    z-index: 1;
    opacity: 0.9;
}
#time{
    font-size: 10px;
    opacity: 0.6;
    z-index: 1;
}
}
  @media (max-width:500px)
  {
    nav img {
        width: 140px;
        
      }
    .navigation ul li{
        padding: 8px 0px;
    }
    #boardtitle{
        font-size: 40px;
        margin-top: 0px;
    }
    .thumbnail {
        width: 100%;
        height: 250px;
        border-radius: 0px;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
       }
    
    .videodescription{
        width: 100%;
    }
    .c{
        height: 100vh;
        overflow-y: unset;
     }
     body{
        overflow-y: scroll;
        height: -webkit-fill-available;
        height: 100%;
     }
     .second-nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
     }
     .second-nav ul li {
        list-style: none;
        margin-bottom: 12px;
     }
     .second-nav i {
        color: cornflowerblue;
        font-size: 22px;
        margin-top: 12px;
        opacity: 0.5;
     }
     .second-nav{
        display: block;
        height: unset;
        background: black;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 2px solid gray;
     }
     #start{
        margin-left: 12px;
     }
     #end{
        margin-right: 12px;
     }
     #chosen{
        opacity: 1;
     }
     .di p{
        color: white;
        text-align: center;
        font-family: 'poppins',regular-400;
        font-size: 12px;
        opacity: 0.8;
    }
    .di{
        text-align: center;
    }
    .banner h1 {
        margin-top: 30px;
        letter-spacing: 4px;
        font-size: 16px;  
    }
    .secondbanner h1 {
        margin-top: 30px;
        letter-spacing: 4px;
        font-size: 12px;
    }
    .thirdbanner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
    
    .thirdbanner h1,#boardtitle{
        
        letter-spacing: 8px;
        word-spacing: 0px;
        font-size: 13px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #boardtitle{
        margin-top: 0px;
    }
    .thirdbanner h1,.secondbanner h1{
        margin-top: 20px;
    }
    
    .contentcontainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 12px;
        margin-top: 00px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .contain{
        position: fixed;
        width: 100%;
        top: 0;
        background: black;
        z-index: 8000;
    }
    .containbanner{
        margin-top: 100px;
    }
  }

  @media (max-width:400px){
    .navigation ul li{
        padding: 8px 0px;
    }
  }
  @media (max-width:360px){
    .navigation ul li{
        padding: 8px 0px;
    }
  }
  @media (max-width:320px){
    .navigation ul li{
        padding: 8px 0px;
    }
    
    
  }