*{
    margin: 0;
    padding: 0;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}

.white-theme{
  --primary-color:whitesmoke;
  --secondary-color:black;
 
}

body{
    background: var(--primary-color);
    width: 100%;
}

.cover{
    width: 100%;
    height: 350px;
    filter: blur(6px);
}

.profile {
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 100%;
    border: 4px solid lightskyblue;
}

.details {
    z-index: 10;
    padding: 8px 4px;
    color: white;
}

.pd{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pdn{
    text-align: center;
    position: absolute;
    top: 12px;
  }
  .details h1{
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    
  }
  .details p{
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    opacity: 0.9;
  }

.navigation ul li{
    display: inline-block;
    padding: 12px 0px;
    list-style: none;
    transition: all 0.5s;
}
.navigation{
    background: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.navigation a{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}


.contentcatagory{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
}

.contentcatagory h1{
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    font-size: 30px;
}

.flex-div {
    display: flex;
    align-items: center;
}

.albumcover {
    width: 250px;
    height: 180px;
    border-radius: 5px;
    cursor: pointer;
   }
   .albumcover:hover{
    border: 2px solid cornflowerblue;
   }

.account{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 5px;
}

.videodescription{
    width: 250px;
}

.video p{
    color: lightskyblue;
    font-family: 'poppins',sans-serif;
    font-size: 12px;
}

.contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}
.videodetails i{
    color: cornflowerblue;
    cursor: pointer;
}
.videodetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }
  .subscribebox{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    
  }
  #searchfail{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 12px;
  }
  #details{
    color:var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 12px;
    opacity: 0.8;
  }

  .tv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tv img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .navigation ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: lightskyblue;
    margin: auto;
    transition: 0.5s;
}

.navigation ul li:hover::after {
    width: 100%;
}

#home::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: lightskyblue;
    margin: auto;
    transition: 0.5s;
}

#home:hover::after {
    width: 100%;
}
.container{
  position: relative;
  width: 400px;
  background: var(--primary-color);
  padding: 20px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: cornflowerblue;
  opacity: 0.9;
}
input:checked ~ label{
  color: cornflowerblue;
  opacity: 0.8;
}
input#rate-5:checked ~ label{
  color: cornflowerblue;
  text-shadow: 0 0 20px lightskyblue;
  opacity: 1;
}
#rate-1:checked ~ form header:before{
  content: "Sorry our content is horrible,please kindly advice us on how to improve in our hangout spot.Thank you. ";
}
#rate-2:checked ~ form header:before{
  content: "Sorry you hate our content,please kindly advice us on how to improve in our hangout spot.Thank you. ";
}
#rate-3:checked ~ form header:before{
  content: "Thank you for rating us 3 stars!Please kindly advice us on how to improve in our hangout spot in oder to get the remaining 2 stars.Thank you. ";
}
#rate-4:checked ~ form header:before{
  content: "Thank you for rating us 4 stars!Please kindly advice us on how to improve in our hangout spot in oder to get the remaining star.Thank you. ";
}
#rate-5:checked ~ form header:before{
  content: "Thank you for rating us 5 stars!We appreciate it. ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  transition: all 0.2s ease;
  font-family: 'poppins',regular-400;
}
form .textarea{
  height: 100px;
  width: 90%;
  resize: none;
  margin-top: 20px;
  margin-bottom: 50px;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--secondary-color);
  border: 2px solid lightskyblue;
  border-radius: 8px;
  background: var(--primary-color);
  padding: 10px;
  font-size: 12px;
  resize: none;
  font-family: 'poppins',regular-400;
  
}

form .btn{
  height: 45px;
  width: 100%;
  align-items: center;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid cornflowerblue;
  outline: none;
  background: cornflowerblue;
  border-radius: 20px;
  color: var(--secondary-color);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}
form .btn button:hover{
  opacity: 1;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.subaccount button{
  width: 200px;
  height: 30px;
  margin-top: 50px;
  background: cornflowerblue;
  color: var(--secondary-color);
  font-family: 'poppins',regular-400;
  opacity: 0.8;
  border: 2px solid cornflowerblue;
  border-radius: 20px;
  cursor: pointer;
}
.subaccount button:hover{
  opacity: 1;
}
.success p{
  color: greenyellow;
}
.boostvid img{
  width: 500px;
  height: 250px;
}
.boostvid,.vidtitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vidtitle p{
  font-family: 'poppins',regular-400;
  color: var(--secondary-color);
  opacity: 0.8;
}
@media (max-width: 490px)
{
    .contentcontainer{
        margin-left: 8px;
        margin-right: 8px;
    }
    .navigation ul li {
        padding: 8px 0px;
        font-size: 12px;
    }


    .contentcatagory h1{
        color: cornflowerblue;
        font-family: 'poppins',sans-serif;
        font-size: 20px;
    }

    #searchfail{
       
        font-size: 12px;
       
      }
      #details{
   
        font-size: 10px;
        
      }
    
      ::-webkit-scrollbar{
        width: 0em;
        
      }
      .details h1{
        font-family: 'poppins',sans-serif;
        font-size: 15px;
      }
      .details p{
        font-family: 'poppins',sans-serif;
        font-size: 12px;
        opacity: 0.9;
      }
      
      .tv img{
        width: 12px;
        height: 12px;
      }
      .profile {
        width: 230px;
        height: 230px;
    }
    .star-widget label{
      font-size: 24px;
      color: #444;
      padding: 10px;
      float: right;
      transition: all 0.2s ease;
    }
    .boostvid img{
      width: 100%;
      height: 250px;
    }
}

