* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112;   
}

nav img {
  width: 200px;
}

input[type="file"]{
  display:none;
}
.videodiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-bottom: 50px;
  color: white;
  opacity: 0.8;
  font-family: 'poppins',regular-400;
}
.text p{
  font-family: 'poppins',regular-400;
}
select {
  width: 100%;
  background: transparent;
  border: 2px solid cornflowerblue;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: white;
}
label{
  color: whitesmoke;
  border: 1px solid whitesmoke;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:transparent ;
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'poppins',sans-serif;
  font-size: 12px;
  background: cornflowerblue;
  opacity: 0.8;
}
label:hover{
  opacity: 1;
}

.filename{
  width: 500px;
  height: 400px;
  border-radius: 20px;
  
}

.sign-up-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,100,0.7) , rgba(0,0,100,0.7)), url("../../images/7777.jpg");
}
.card {
    width: 800px;
    height: 2100px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.4);
    margin-top: 20px;
    align-items: center;
    perspective: 1000px;
}
.account{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 42%;
  border: 2px solid lightskyblue;
}



.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front , .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8) , rgba(0,0,100,0.8)), url("../../images/loader.gif");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}


.second_text {
    text-align: left;
    display: flex ;
    justify-content: center;
    z-index: 1111;
    
}

.second_text p {
    padding-top: 11px;
}


.card h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 2px solid cornflowerblue;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
button {
  width: 100%;
  background: transparent;
  border: 2px solid cornflowerblue;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  color: white;
  cursor: pointer;
  background: cornflowerblue;
  opacity: 0.8;
}

.submit-btn {
  position: relative;
  color: white;
}


.second_text {
  background: black;
}
.card a ::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
  transition: 0.5s;
  z-index: 2;
}

.card a :hover::after {
  width: 100%;
  z-index: 2;
}

button:hover {
  border: 2px solid cornflowerblue;
  border-radius: 15px;
  background: cornflowerblue;
  transition: ease 0.8s;
  color: #fff;
  opacity: 1;
}

.card h6 {
    font-family: 'poppins',regular-400;
    color: white;
    font-size: 18px;
    text-align: center;
    letter-spacing: 8px;
    font-weight: normal;
    opacity: 0.9;
}
.userimage{
  margin-left: 30%;
  color: white;
}
span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: center;
}
.card a {
    font-family: 'poppins',sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}
.card h2 {
    font-family: 'poppins',regular-400;
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: auto;
}

.second_text p {
    color: white;
}

.sidebar {
    display: none;
}

#check {
    display: none;
}


#home{
  color: cornflowerblue;
}

#preloader
{
    background: whitesmoke url("../videos/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{
    width: 100%;
    background: transparent;
    border: 2px solid cornflowerblue;
    margin: 15px 0;
    height: 150px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
    font-family: 'poppins',regular-400;
    opacity: 0.8;
    resize: none;
}
.filename2{
  width: 200px;
  height: 100px;
  border-radius: 8px;

}
#subtitles{
  display: block;
}
#s{
  color: green;
  font-size: 16px;
  width: 100%;
  background: gray;
  font-family: 'poppins',sans-serif;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 25px;
}

#e{
  color: red;
  font-size: 16px;
  width: 100%;
  background: gray;
  font-family: 'poppins',sans-serif;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 25px;
}
@media (max-width:1150px) and (orientation: landscape)
{
  
  .card{
    width: 800px;
  }
}

@media (max-width:1000px) and (orientation: landscape)
{
  
  .card{
    width: 800px;
  }
}

@media (max-width:900px) and (orientation: landscape)
{

  .card {
    width: 700px;
    height: 2100px;
 
  }
}


@media (max-width:800px) and (orientation: landscape)
{
  
  .card{
    width: 500px;
  }
  .filename{
    width: 400px;
  }
  
}



@media (max-width:700px) and (orientation: landscape)
{

  .card {
    width: 400px;
    height: 2100px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }

  .filename{
    width: 300px;
  }

}

@media (max-width:600px) and (orientation: landscape)
{

  .card{
    width: 400px;
    height: 2200px;
  }
}

@media (max-width:500px) and (orientation: landscape)
{
 
  .card{
    width: 400px;
    height: 1600px;
  }
}

@media (max-width:1200px) and (orientation: portrait)
{
 
  .card{
    width: 600px;
    
  }
}

@media (max-width:500px) and (orientation: portrait)

{


.sign-up-box {
  overflow-y: scroll;
}
.card {
  width: 350px;
  height: 1800px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  perspective: 1000px;
}

.card h2{
  font-size: 14px;
  letter-spacing: 4px;
}
.card h6{
  font-size: 12px;
  letter-spacing: 4px;
}

.userimage{
  margin-left: 10%;
  
}

.account{
  margin-left: 30%;
}
.second_text{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100%;
  bottom: 0;
  position: sticky;
  height: auto;
}

body{
  background: black;
  height: -webkit-fill-available;
  
}

label{
  font-size: 8px;
}

.filename{
  width: 200px;
  height: 200px;
}

nav img{
  width: 140px;
}

}

@media (max-width:400px) and (orientation: portrait)
{
  nav img{
    width: 140px;
  }
  .sign-up-box {

    overflow-y: scroll;
  }
  .card {
    width: 300px;
    height: 1800px;

  }
  
  .filename{
    width: 200px;
    height: 200px;
  }
  


.userimage{
  margin-left: 10%;
  
}

.account{
  margin-left: 30%;
}
body{
  overflow-y: scroll;
  height: -webkit-fill-availble;
}

.second_text{
  width: 100%;
  bottom: 0;
  position: sticky;
  height: auto;
}

.card h2{
  letter-spacing: 4px;
  font-size: 16px;
  margin-bottom: 0px;
}

.card h6{
  letter-spacing: 4px;
  font-size: 14px;
}

.text p{
  font-family: 'poppins',regular-400;
  font-size: 12px;
  opacity: 0.8;
}
.text{
  margin-top: 0px;
  margin-bottom: 25px;
}
.videodiv{
  margin-bottom: 50px;
  margin-top: 50px;
}
  
}

@media (max-width:320px) and (orientation: portrait)
{

 .second_text{
  width: 105%;
 }

.card{
  width: 280px;
  height: 2000px;
}
}




