* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background: cornflowerblue;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112;   
}

nav img {
  width: 200px;
}

input[type="file"]{
  display:none;
}
label{
  color: whitesmoke;
  border: 1px solid whitesmoke;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:transparent ;
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'poppins',sans-serif;
  font-size: 12px;
}
label:hover{
  background: lightskyblue;
  color: whitesmoke;
  border: 1px solid lightskyblue;
}

.filename{
  width: 500px;
  height: 100px;
  border-radius: 20px;
  
}

.sign-up-box {
  width: 100%;
  height: 250vh;
  background-image: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 800px;
  height: 1400px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.4);
  margin-top: 63px;
  align-items: center;
  perspective: 1000px;
}
.account{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 42%;
  border: 3px solid lightskyblue;
}



.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front , .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8) , rgba(0,0,100,0.8)), url("images/loader.gif");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}


.second_text {
    text-align: left;
    display: flex ;
    justify-content: center;
    z-index: 1111;
    
}

.second_text p {
    padding-top: 11px;
}


.card h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightskyblue;
  text-align: center;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid lightskyblue;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
button {
  width: 100%;
  background: transparent;
  border: 1px solid lightskyblue;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  color: cornflowerblue;
  cursor: pointer;
}

.submit-btn {
  position: relative;
  color: lightskyblue;
}


.second_text {
  background: black;
}
.card a ::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
  transition: 0.5s;
  z-index: 2;
}

.card a :hover::after {
  width: 100%;
  z-index: 2;
}

button:hover {
  border: 2px  lightskyblue;
  border-radius: 15px;
  background: lightskyblue;
  transition: 0.8s;
  color: #fff;
}

.card h6 {
    font-family: 'poppins',sans-serif;
    color: cornflowerblue;
    font-size: 18px;
    text-align: center;
}
.userimage{
  margin-left: 30%;
  color: lightskyblue;
}
span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: center;
}
.card a {
    font-family: 'poppins',sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}
.card h2 {
    font-family: 'poppins',sans-serif;
    color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: auto;
}

.second_text p {
    color: white;
}

.sidebar {
    display: none;
}

#check {
    display: none;
}


#home{
  color: cornflowerblue;
}

#preloader
{
    background: whitesmoke url("../videos/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{
    width: 100%;
    background: transparent;
    border: 1px solid lightskyblue;
    margin: 15px 0;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
    font-family: 'poppins',sans-serif;
}
.filename2{
  width: 200px;
  height: 100px;
  border-radius: 8px;

}
@media (max-width:1150px)
{
  .sign-up-box{
    height: 260vh;
  }
  .card{
    width: 800px;
  }
}

@media (max-width:1030px)
{
  .sign-up-box{
    height: 300vh;
  }
  .card{
    width: 800px;
  }
}

@media (max-width:930px)
{
  .sign-up-box {
    height: 450vh;
    
  }
  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:912px)
{
  .sign-up-box {
    height: 170vh;
    
  }
  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:900px)
{
  .sign-up-box {
    height: 470vh;
    
  }
  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:830px)
{
  .sign-up-box{
    height: 150vh;
  }
  .card{
    width: 600px;
  }
  .account{
    margin-left: 40%;
  }
}

@media (max-width:815px)
{
  .sign-up-box{
    height: 500vh;
  }
  .card{
    width: 600px;
    height: 1650px;
  }
}

@media (max-width:800px)
{
  .sign-up-box{
    height: 200vh;
  }
  .card{
    width: 600px;
    height: 1700px;
  }
}

@media (max-width:750px)
{
  .sign-up-box {
    width: 100%;
    height: 520vh;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 600px;
    height: 1700px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }

  .filename{
    left: 47%;
    top: 48%;
   
  }

}

@media (max-width:720px)
{
  .sign-up-box{
    height: 310vh;
  }
  .filename{
    width: 300px;
    height: 300px;
  }
  .card{
    height: 1600px;
  }
}
@media (max-width:717px)
{
  .sign-up-box{
    height: 350vh;
  }
  .filename{
    width: 300px;
    height: 300px;
  }
  .card{
    height: 1600px;
  }
}

@media (max-width:714px)
{
  .sign-up-box{
    height: 160vh;
  }
  .filename{
    width: 300px;
    height: 300px;
  }
  .card{
    height: 1600px;
  }
}

@media (max-width:700px)
{
  .sign-up-box{
    height: 520vh;
  }
}

@media (max-width:670px)
{
  .sign-up-box{
    height: 510vh;
  }
  .card{
    width: 500px;
    height: 1550px;
  }
}

@media (max-width:655px)
{
  .sign-up-box{
    height: 600vh;
  }
  .card{
    height: 1550px;
  }
}
@media (max-width:645px)
{
  .sign-up-box{
    height: 510vh;
  }
  .card{
    width: 500px;
    height: 1550px;
  }

}

@media (max-width:600px)
{
  .sign-up-box{
    height: 170vh;
  }
  .card{
    width: 500px;
  }
}

@media (max-width:570px)
{
  .sign-up-box{
    height: 540vh;
  }
  .card{
    width: 400px;
    height: 1600px;
  }
}
@media (max-width:550px)
{
  .sign-up-box{
    height: 540vh;
  }
  
}

@media (max-width:540px)
{
  .sign-up-box{
    height: 250vh;
  }
  
}
@media (max-width:535px)
{
  .sign-up-box{
    height: 540vh;
  }
  
}

@media (max-width:515px)
{
  .sign-up-box{
    height: 240vh;
  }
  
}

@media (max-width:500px)

{


.sign-up-box {
  width: 100%;
  height: 230vh;
  background: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 1600px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  perspective: 1000px;
}

.userimage{
  margin-left: 10%;
  
}

.account{
  margin-left: 30%;
}
.second_text{
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
body{
  background: black;
}

label{
  font-size: 8px;
}

.filename{
  top: 54%;
  left: 45%;
}

}
@media(max-width:430px){
  .sign-up-box{
    height: 140vh;

  }
  .filename{
    top: 57%;
    left: 45%;
  }
}
@media (max-width:415px)
{
  nav img{
    width: 180px;
  }
  .sign-up-box {
    height: 220vh;
  
  }
  .card {
    width: 300px;
    height: 1500px;
  }
  
  .filename{
    width: 200px;
    height: 200px;
  }
  


.userimage{
  margin-left: 10%;
  
}

.account{
  margin-left: 30%;
}

  
}

@media (max-width:385px)
{
  .sign-up-box {
    height: 250vh;
  
  }
  .filename{
    width: 200px;
    height: 200px;
  }
  .card{
    height: 1500px;
  }

}
@media (max-width:330px)
{
 body{
  background: cornflowerblue;
 }
 .second_text{
  width: 105%;
 }
 .sign-up-box {
  height: 310vh;

}
.card{
  width: 280px;
  height: 1500px;
}
}

@media (max-width:280px)
{
 
 .sign-up-box {
  height: 280vh;

}
.card{
  width: 260px;
  height: 1500px;
}
}