* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background: cornflowerblue;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112;  
}

nav img {
  width: 200px;
}

.sign-up-box {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,100,0.7) , rgba(0,0,100,0.7)), url("../../images/7777.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 600px;
    height: 3800px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.4);
    align-items: center;
    perspective: 1000px;
}

.bannertext p{
  font-family: 'poppins',sans-serif;
  left: 0%;
  width: 72%;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front , .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8) , rgba(0,0,100,0.8)), url("../../images/loader.gif");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}


.second_text {
    text-align: left;
    display: flex ;
    justify-content: center;
    z-index: 1111;
    
}

.second_text p {
    padding-top: 11px;
}


.card h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: 'poppins',regular-400;
  color: white;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 50px;
  
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid lightskyblue;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
button {
  width: 100%;
  background: transparent;
  border: 1px solid lightskyblue;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: 'poppins',regular-400;
  opacity: 0.8;
}

.submit-btn {
  position: relative;
  color: white;
  background: cornflowerblue;
}


.second_text {
  background: black;
}
.card a ::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
  transition: 0.5s;
  z-index: 2;
}

.card a :hover::after {
  width: 100%;
  z-index: 2;
}

button:hover {
 
  border-radius: 15px;
  background: cornflowerblue;
  transition: 0.5s;
  color: #fff;
  opacity: 1;
}

.card h6 {
    font-family: 'poppins',regular-400;
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0.8;
    font-weight: normal;
    margin-bottom: 25px;
}
.userimage{
  margin-left: 30%;
  color: lightskyblue;
}
select {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: cornflowerblue;
}
span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: center;
}
.card a {
    font-family: 'poppins',sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}
.card h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: 50px;
}

.second_text p {
    color: white;
}

.sidebar {
    display: none;
}

#check {
    display: none;
}


#home{
  color: cornflowerblue;
}

.bannertext{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannertext h1{
  color: lightskyblue;
  font-size: 60px;
}

#preloader
{
    background: whitesmoke url("../videos/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}

input[type="file"]{
  display:none;
}
label{
  color: whitesmoke;
  border: 1px solid whitesmoke;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:transparent ;
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'poppins',sans-serif;
  font-size: 12px;
}
label:hover{
  background: lightskyblue;
  color: whitesmoke;
  border: 1px solid lightskyblue;
}

.filename2{
  width: 200px;
  height: 100px;
  border-radius: 8px;

}

.filename{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}
.video{
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea{
  width: 100%;
  background: transparent;
  resize: none;
  border: 2px solid cornflowerblue;
  height: 100px;
  margin-top: 12px;
  border-radius: 20px;
  text-align: center;
  outline: none;
  color: white;
  margin-bottom: 25px;
}
video{
  width: 100%;
}

@media (max-width:1030px) and (orientation: portrait)
{
  
  .card{
    width: 700px;
    
  }
}

@media (max-width:930px) and (orientation: portrait)
{
  .sign-up-box {
    width: 100%;
  }
  .card {
    width: 450px;
    height: 1500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  
}

@media (max-width:850px) and (orientation: portrait)
{
  
  .card{
    width: 550px;
    height: 1750px;
  }
}

@media (max-width:750px) and (orientation: portrait)
{
  
  .card {
    width: 500px;
    height: 1750px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  

}

@media (max-width:600px) and (orientation: portrait)
{

  .card{
    width: 500px;
    height: 1750px;
    
  }
}



@media (max-width:500px) and (orientation: portrait)

{

.card {
  width: 350px;
  height: 3800px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  perspective: 1000px;
}

.userimage{
  margin-left: 10%;
  
}

.account{
  margin-left: 30%;
}
.second_text{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  bottom: 0;
  position: sticky;
}
body{
  background: black;
  height: -webkit-fill-available;
  
}
nav img{
  width: 150px;
}


}


@media (max-width:400px) and (orientation: portrait)
{
 

  .card{
    width: 340px;
    
   
  }
  

}
@media (max-width:388px) and (orientation: portrait)
{
  .card{
    width: 320px;
    
  }

}

@media (max-width:365px) and (orientation: portrait)
{
  

  .card{
    width: 320px;
  }
  

}

@media (max-width:330px) and (orientation: portrait)
{
 body{
  background: cornflowerblue;
 }
 .second_text{
  width: 105%;
 }

.card{
  width: 280px;
  
}
label{
  font-size: 8px;
}
}