* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background: cornflowerblue;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112;   
}

nav img {
  width: 180px;
}
.navigation_links {
    flex: 1;
    text-align: right;
}
.navigation_links ul li {
    display: inline-block;
    padding: 12px 4px;
    list-style: none;
    position: relative;
}
.sign-up-box {
    width: 100%;
    height: 145vh;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 600px;
    height: 600px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    margin-top: 65px;
    perspective: 1000px;
}

.card p{
  font-family: 'poppins',sans-serif;
  color: white;
}
.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front , .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8) , rgba(0,0,100,0.8)), url("../../images/loader.gif");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    padding: 80px;
}

.second_text {
    text-align: left;
    padding: 0.5% 0.5%;
    display: flex ;
    justify-content: space-between;
    left: 0;
    z-index: 1111;
    
}
.second_nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}
.second_text p {
    padding-top: 11px;
}

.navigation_links ul li a:hover {
    border: 2px  lightskyblue;
    border-radius: 15px;
    background: lightskyblue;
    transition: 0.8s;
}
.card h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
button {
  width: 100%;
  background: transparent;
  border: 1 px solid #fff;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}
select {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: black;
}
.sidebar {
  display: none;
}
.submit-btn {
  position: relative;
}


.second_text {
  background: black;
}
.second_nav_links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: lightskyblue;
  margin: auto;
  transition: 0.5s;
}

.second_nav_links ul li:hover::after {
  width: 100%;
}
.card a ::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
  transition: 0.5s;
  z-index: 2;
}

.card a :hover::after {
  width: 100%;
  z-index: 2;
}

button:hover {
  border: 2px  lightskyblue;
  border-radius: 15px;
  background: lightskyblue;
  transition: 0.8s;
}
.second_nav_links ul li a:active {
  color: lightskyblue;}


  .navigation_links ul li a {
    font-family: 'poppins',sans-serif;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.card h6 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 15px;
    text-align: center;
}
span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: center;
}
.card a {
    font-family: 'poppins',sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}
.card h2 {
  font-family: 'poppins',sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: auto;
}
.second_nav_links ul li a {
  font-family: 'poppins',sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
.second_text p {
    color: white;
}

.sidebar {
    display: none;
}

#check {
    display: none;
}

.navigation_links i{
  margin-right: 8px;
  color: cornflowerblue;
}

#home{
  color: cornflowerblue;
}

label #btn {
    display: none;
}
#preloader
{
    background: whitesmoke url("../videos/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}

@media (max-width:500px) and (orientation: landscape){
  .sign-up-box{
    height: 110vh;
    overflow-y: scroll;
  }
  .sidebar {
    
    height: 85vh;
  
  }
  .card {
    width: 90%;
    height: 1300px;
    margin-top: 272%;
  }
  ::-webkit-scrollbar{
    width: 0em;
    
  }
  .navigation_links ul li a{
    display: none;
  }
  label #btn {
    color: lightskyblue;
    display: contents;
    font-size: 25px;
}
  
}


@media (max-width:930px)
{
  .sign-up-box {
    width: 100%;
    height: 250vh;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 350px;
    height: 800px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
}

@media (max-width:660px)
{
  .sign-up-box {
    width: 100%;
    height: 350vh;
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 350px;
    height: 800px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
}

@media (max-width:500px)

{
  .navigation_links ul li a{
    display: none;
  }
  label #btn {
    color: lightskyblue;
    display: contents;
    font-size: 25px;
}
.sign-up-box {
  width: 100%;
  height: 120vh;
  background: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 800px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  perspective: 1000px;
}
.second_text{
  display: inline;
  width: 100%;
}
body{
  background: black;
}
.sidebar ul li a{
  list-style: none;
  text-decoration: none;
  font-family: 'poppins',sans-serif;
  letter-spacing: 2px;
  height: 100%;
  width: 100%;
  line-height: 100px;
  color: white;
  padding-left: 12px;

}
.sidebar ul li i {
  margin-right: 12px;
  color: cornflowerblue;
}
.sidebar li {
  list-style: none;
}
.sidebar {
  width: 200px;
  height: 125vh;
  background: black;
  position: absolute;
  top: 42px;
  padding-top: 20px;
  left: -200px;
  transition: all 0.5s ease-in-out;
  z-index: 1111;
}
.sidebar{
  display: block;
}
#check {
  display: none;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  opacity: 0;
  pointer-events: none;
}
}
@media (max-width:380px)
{
  .sign-up-box {
    height: 180vh;
  
  }
  .card {
    width: 300px;
  }
  .sidebar {
    
    height: 200vh;
  
  }
}

@media (max-width:300px)
{
  .sign-up-box {
    height: 180vh;
  
  }
  .card {
    width: 250px;
    height: 900px;
  }
  .sidebar {
    
    height: 200vh;
  
  }
}