*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--primary-color);
    width: 100%;
}
.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}

.white-theme{
  --primary-color:whitesmoke;
  --secondary-color:black;
 
}

.cover{
    width: 100%;
    height: 350px;
    filter: blur(6px);
}

.profile {
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 100%;
    border: 4px solid lightskyblue;
}

.details {
    z-index: 10;
    padding: 8px 4px;
    color: white;
}

.navigation ul li{
    display: inline-block;
    padding: 0px;
    list-style: none;
    transition: all 0.5s;
}
.navigation{
    background: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.navigation a{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}

.navigation ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: lightskyblue;
    margin: auto;
    transition: 0.5s;
}

.navigation ul li:hover::after {
    width: 100%;
}

#home::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: lightskyblue;
    margin: auto;
    transition: 0.5s;
}

#home:hover::after {
    width: 100%;
}

.contentcatagory{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
}

.contentcatagory h1{
    color: var(--secondary-color);
    font-family: 'poppins',regular-400;
    font-size: 30px;
    font-weight: normal;
}

.flex-div {
    display: flex;
    align-items: center;
}

.albumcover,.thumbnail {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid gray;
   }
   .albumcover:hover,.thumbnail:hover{
    border: 2px solid gray;
   }

.account{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 5px;
}

.videodescription,.videodetails{
    width: 250px;
}


.contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
}

.videodetails i{
    color: cornflowerblue;
    cursor: pointer;
}
.videodetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#trashbtn{
    background: transparent;
    outline: none;
    border: none;
}


  .pd{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pdn{
    text-align: center;
    position: absolute;
    top: 12px;
  }
  .details h1{
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    
  }
  .details p{
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    opacity: 0.9;
  }
  .videodescription{
    font-size: 14px;
    color: var(--secondary-color);
    font-family: 'poppins',regular-400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  #time{
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    color: var(--secondary-color);
    opacity: 0.8;
  }
  .tv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tv img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .videoinfo p{
    color: var(--secondary-color);
    opacity: 0.8;
    font-size: 13px;
    font-family: 'poppins',regular-400;
  }
  .opacity{
    opacity: 0.8;
    font-size: 12px;
    font-family: 'poppins',regular-400;
  }
  .navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boostbtn button{
  background: cornflowerblue;
  font-family: 'poppins',regular-400;
  color: var(--secondary-color);
  width: 100px;
  height: 25px;
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.boostbtn button:hover{
  opacity: 1;
}
.videoviews{
  width: 200px;
  overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 1; /* number of lines to show */
         line-clamp: 1; 
 -webkit-box-orient: vertical;
}

@media (max-width:1250px)and (orientation: landscape)
{
    
   
    .contentcontainer{
        
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 40px;
        
    }
    
    .albumcover,.thumbnail,.videodescription{
        width: 225px;
    }
  
}

@media (max-width: 450px) and (orientation: landscape)
{
    .details h1{
        font-size: 12px;
      }
      .details p{
        font-family: 'poppins',sans-serif;
        font-size: 8px;
        opacity: 0.9;
      }
      .contentcatagory h1{
        
        font-family: 'poppins',sans-serif;
        font-size: 15px;
    }
}

@media (max-width: 1200px) and (orientation: portrait)
{
  .contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 6px;
}

 .albumcover,.thumbnail{
  border: 1px solid gray;
 }
    
}

@media (max-width: 1000px) and (orientation: portrait)
{
  .contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 6px;
}

 .albumcover,.thumbnail{
  border: 1px solid gray;
 }
    
}

@media (max-width: 550px) and (orientation: portrait)
{
  .contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 6px;
}

 .albumcover,.thumbnail{
  border: 1px solid gray;
  height: 250px;
  width: 100%;
 }
 .videodescription{
  width: 100%;
 }
    
}

@media (max-width: 460px) and (orientation: portrait)
{
    .contentcontainer{
        margin-left: 8px;
        margin-right: 8px;
    }
    .navigation ul li {
        padding: 8px 0px;
        font-size: 12px;
    }
   

    .contentcatagory h1{
        
        font-family: 'poppins',sans-serif;
        font-size: 15px;
    }

    
    .contentcontainer{
        
        margin-top: 0px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 12px;
    }
    .albumcover,.thumbnail {
        width: 100%;
        height: 250px;
        border-radius: 0px;
        cursor: pointer;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
       }
       .account{
        width: 25px;
        height: 25px;
        margin-right: 8px;
       }
       .videodescription,.videodetails{
        width: 100%;
        
    }
    .details h1{
        font-family: 'poppins',sans-serif;
        font-size: 15px;
      }
      .details p{
        font-family: 'poppins',sans-serif;
        font-size: 12px;
        opacity: 0.9;
      }
      
      .tv img{
        width: 12px;
        height: 12px;
      }
      .profile {
        width: 230px;
        height: 230px;
    }
    
}
