*{
    margin: 0;
    padding: 0;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}

.white-theme{
  --primary-color:whitesmoke;
  --secondary-color:black;
 
}

body{
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
}

.cover{
    width: 100%;
    height: 350px;
    filter: blur(6px);
}

.profile {
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 100%;
    border: 4px solid cornflowerblue;
}

.details {
    
    z-index: 2;
    padding: 8px 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.navigation ul li{
    display: inline-block;
    padding: 12px 140px;
    list-style: none;
    transition: all 0.5s;
}
.navigation{
    background: var(--secondary-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.navigation a{
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}

.navigation ul li:hover{
    border: 1px solid lightskyblue;
    border-radius: 20px;
    background: lightskyblue;
}
#home {
    border: 1px solid lightskyblue;
    border-radius: 20px;
    background: lightskyblue;
}

.contentcatagory{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
}

.contentcatagory h1{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 30px;
}
.contentcatagory h2{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.flex-div {
    display: flex;
    align-items: center;
}

.albumcover,.thumbnail {
    width: 250px;
    height: 180px;
    border-radius: 5px;
    cursor: pointer;
   }
   .albumcover:hover{
    border: 2px solid cornflowerblue;
   }

.account{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 5px;
}

.videodescription,.videodetails{
    width: 250px;
}

.video p{
    color: lightskyblue;
    font-family: 'poppins',sans-serif;
    font-size: 12px;
}

.contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

.videodetails i{
    color: cornflowerblue;
    cursor: pointer;
}
.videodetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#trashbtn{
    background: transparent;
    outline: none;
    border: none;
}
#d{
  color: red;
  font-style: italic;
  font-weight: bold;
}
  .img,.verification-vid{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  video{
    width: 700px;
    height: 350px;
  }
  .d p{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .u p{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    text-align: center;
  }
  .subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }
  .subscribebox{
    width: 500px;
    height: 200px;
    border: none;
    border-radius: 20px;
    border: 2px solid cornflowerblue;
    margin-bottom: 25px;
  }
  #account{
    margin-top: 20px;
  }
  .subaccount{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #paymentinfo{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
  }
  #paymentbutton{
    width: 200px;
    height: 35px;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    margin-top: 30px;
    background: cornflowerblue;
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.8;
  }
  #paymentbutton:hover{
   opacity: 1;
  }
  .pd{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  b{
    color: green;
  }
  .pdn{
    top: 12px;
    position: absolute;
  }
  .details h1{
    font-family: 'poppins',sans-serif;
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    
  }
  .details p{
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    opacity: 0.9;
  }
  .tv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tv img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .error{
    color: red;
  }
  video{
    border: 1px solid gray;
    border-radius: 2px;
  }
  .paybtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width:600px) and (orientation: landscape){
    .details h1{
      font-size: 25px;
    }
    video{
      width: 500px;
    }
  }

  @media (max-width: 800px) and (orientation:portrait)
{
    video{
      width: 600px;
    }
}
@media (max-width: 600px) and (orientation:portrait)
{
    video{
      width: 500px;
    }
}
  
@media (max-width: 490px) and (orientation:portrait)
{
    .contentcontainer{
        margin-left: 8px;
        margin-right: 8px;
    }
    .navigation ul li {
        padding: 8px 30px;
        font-size: 12px;
    }

    .subscribebox{
      width: unset;
      width: 95%;
      height: 250px;
     margin-bottom: 25px;
    }
    

    .contentcatagory h1{
        
        font-family: 'poppins',sans-serif;
        font-size: 20px;
    }

   
    .contentcontainer{
        
        margin-top: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .albumcover,.thumbnail {
        width: 100%;
        height: 250px;
        border-radius: 0px;
        cursor: pointer;
       }
       .account{
        border: 2px solid cornflowerblue;
        width: 16px;
        height: 16px;
        margin-right: 8px;
       }
       .videodescription,.videodetails{
        width: 100%;
    }
    video{
      width: 300px;
      height: 150px;
    }
    .details h1{
      font-size: 20px;
    }
    .details p{
      font-size: 12px;
      opacity: 0.9;
    }
    .tv img{
      width: 12px;
      height: 12px;
    }
    .profile {
      width: 230px;
      height: 230px;
  }
  video{
    width: 95%;
    height: 350px;
  }
}


@media (max-width:330px) and (orientation: portrait){
  .contentcatagory h1{
    font-size: 16px;
}
.details h1{
  font-size: 16px;
}
.details p{
  font-size: 12px;
  
}
.tv img{
  width: 12px;
  height: 12px;
}
.contentcatagory h2{
  font-size: 12px;
}
video{
  width: 200px;
  height: 100px;
}
.cover{

  height: 325px;
 
}
}