* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    background: var(--primary-color);
}

.dark-theme {
    --primary-color: black;
    --secondary-color: white;
}

.white-theme{
    --primary-color:whitesmoke;
    --secondary-color:black;
   
}

nav {
  position: sticky;
  display: block;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1112; 
  
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);  
}

nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid lightskyblue;
  ;
}

.roomspace{
    width: 100%;
    background: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);  
    margin-bottom: 150px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#account{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.chatbox{
    width: 95%;
    background: transparent;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    color: var(--secondary-color);
    border: 2px solid cornflowerblue;
    font-family: 'poppins',sans-serif; 
}
.admin {
  border: 2px solid gold;
}
.trash{
    color: var(--primary-color);
}
.active{
    color: cornflowerblue;
    
}
.online{
  color: lightgreen;
}
.roomname img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
#verification{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.flex{
    display: flex;
    align-items: center;
}
.marginleft{
    margin-left: 8px;
}
.chat{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
}
.input{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message{
    width: 900px;
    border-radius: 0px;
    border: 2px solid lightskyblue;
    background: transparent;
    color: var(--secondary-color);
    outline: none;
    resize: none;
    margin-left: 8px;
    text-align: center;
   
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-color);
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondary-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondary-color);
}
#send{
    width: 50px;
    height: 33px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    background: transparent;
    color: lightskyblue;
    transition: all 0.5s;
    cursor: pointer;
}

#poll-btn,#create-poll-btn{
    width: 100px;
    height: 33px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    background: transparent;
    color: var(--secondary-color);
    transition: all 0.5s;
    cursor: pointer;
}

#send:hover,#poll-btn:hover,#create-poll-btn:hover{
    background: lightskyblue;
    color: var(--secondary-color);
}

.text{
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
}
.rooname{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); 
}
.user{
    font-size: 18px;
}

.bottomdetails{
    display: flex;
    align-items: center;
    
}
#time{
    margin-right: 12px;
    color: var(--secondary-color);
    opacity: 0.6;
}
.chat p{
  opacity: 0.9;
}
#trashbtn{
    background: none;
    border: none;
    color: cornflowerblue;
    cursor: pointer;
}


  #theme{
    color: var(--secondary-color);
    cursor: pointer;
  }
  .player{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
  }
  .player i{
    color: cornflowerblue;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
  }
  .player i:hover{
    opacity: 1;
  }
  .poll{
    background: transparent;
    width: 95%;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .poll-container,.create-poll-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .poll-statement{
    font-family: 'poppins',sans-serif;
    margin-bottom: 24px;
  }
  .poll-option{
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    
    
  }
  .input-box {
    width: 100%;
    background: transparent;
    border: 1px solid lightskyblue;
    margin: 12px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: var(--secondary-color);
  }
  .sp{
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    color: var(--secondary-color);
    cursor: pointer;
    background: transparent;
    margin-bottom: 4px;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.5s ease-in-out;
  }
  .sp:hover{
    color: var(--secondary-color);
    background: cornflowerblue;
  }
  .selected{
    color: var(--secondary-color);
    background: cornflowerblue;
  }
  
  .p{
    width: 300px;
  }

 marquee{
    color: var(--secondary-color);
    font-family: 'poppins',regular-400;
    opacity: 0.9;
    font-size: 12px;
    margin-top: 20px;
    background-color: var(--primary-color);
 }
 .memberscount{
    display: flex;
    align-items: center;
    gap: 8px;
 }
 .members{
    font-family: 'poppins',regular-400;
    opacity: 0.8;
 }
 .offline{
  color: red;
 }
 .off{
  text-decoration: none;
 }

 .send{
  bottom: 0px;
  position: fixed;
  z-index: 1113;
  background: var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-top: 1px solid cornflowerblue;
 }
 
 @media (max-width:1200px) and (orientation: landscape){
  ::-webkit-scrollbar{
      width: 0em;
      
    }
  
  #message{
      width: 450px;
      
  }

  
}
  @media (max-width:1200px) and (orientation: portrait){
    ::-webkit-scrollbar{
        width: 0em;
        
      }
      .chat{
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 12px;
    }
      .user{
        font-size: 15px;
    }
    .chatbox{
        width: 95%;
        margin-top: 20px;
        margin-left: 20px;
    }
    #message{
        width: 450px;
        border-radius: 10px;
        border: 2px solid lightskyblue;
        background: transparent;
        color: var(--secondary-color);
        outline: none;
        resize: none;
    }
  
  }

  @media (max-width:800px) and (orientation: portrait){
    ::-webkit-scrollbar{
        width: 0em;
        
      }
      .chat{
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 12px;
    }
      .user{
        font-size: 15px;
    }
    .chatbox{
        width: 95%;
        margin-top: 20px;
        margin-left: 20px;
    }
    #message{
        width: 450px;
        border-radius: 10px;
        border: 2px solid lightskyblue;
        background: transparent;
        color: var(--secondary-color);
        outline: none;
        resize: none;
    }
    
    .player{
      gap: 48px;
    }
  }

  @media (max-width:700px) and (orientation: portrait){
   
    #message{
        width: 400px;
        
    }
    
  }
  @media (max-width:600px) and (orientation: portrait){
   
    #message{
        width: 350px;
        
    }
    
  }

  @media (max-width:550px) and (orientation: portrait){
   
    #message{
        width: 300px;
    }
    
  }
  
  @media (max-width:460px) and (orientation: portrait){
    ::-webkit-scrollbar{
        width: 0em;
        
      }
      .chat{
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 12px;
    }
      .user{
        font-size: 14px;
    }
    .chatbox{
        width: 90%;
        margin-top: 20px;
        margin-left: 18px;
        margin-right: 0px;
        border-left: 2px solid lightskyblue;
        border-right:2px solid lightskyblue;
    }
    .admin {
      border-left: 2px solid lightgoldenrodyellow;
      border-right: 2px solid lightgoldenrodyellow;
    }
    #message{
        width: 200px;
        border-radius: 2px;
        border: 1px solid cornflowerblue;
        background: whitesmoke;
        color: var(--primary-color);
        outline: none;
        resize: none;
        height: 34px;
    }
    
    .roomname{
      width: 100%;
      font-size: 12px;
      font-family: 'poppins',regular-400;
    }
    .player i{
      font-size: 16px;
    }
    #poll-btn,#create-poll-btn{
      width: fit-content;
      height: 34px;
      border-radius: 2px;
      background: cornflowerblue;
      border: none;
      color: white;
     
  }
  #send{
    width: 50px;
      height: 34px;
      border-radius: 2px;
      background: cornflowerblue;
      border: none;
      color: white;
  }
 
  .members{
    font-size: 12px;
  }
  .roomname img,#verification{
    width: 12px;
    height: 12px;
}
#send:hover,#poll-btn:hover,#create-poll-btn:hover{
  background: cornflowerblue;
  color: var(--secondary-color);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-color);
  opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondary-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondary-color);
}

nav img{
  width: 60px;
  height: 60px;
  border: none;
}
nav{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}


  }

 

  @media (max-width:330px) and (orientation: portrait){
    #message{
        width: 180px;
        border-radius: 10px;
        border: 2px solid lightskyblue;
        color: var(--secondary-color);
        outline: none;
        resize: none;
    }
   
  }