* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background: cornflowerblue;
    height: -webkit-fill-available;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112;   
}

nav img {
  width: 200px;
}

input[type="file"]{
  display:none;
}
label{
  color: white;
  border: 1px solid cornflowerblue;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:transparent ;
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'poppins',regular-400;
  font-size: 12px;
  background: cornflowerblue;
  opacity: 0.8;
}
label:hover{
  background: cornflowerblue;
  color: white;
  border: 1px solid cornflowerblue;
  opacity: 1;
}



.sign-up-box {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0,0,100,0.7) , rgba(0,0,100,0.7)), url("../../images/7777.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 800px;
  height: 1900px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.4);
  margin-top: 63px;
  align-items: center;
  perspective: 1000px;
}
.account{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 42%;
  border: 3px solid lightskyblue;
}



.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front , .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8) , rgba(0,0,100,0.8)), url("../../images/loader.gif");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}


.second_text {
    text-align: left;
    display: flex ;
    justify-content: center;
    z-index: 1111;
    
}

.second_text p {
    padding-top: 11px;
}


.card h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: 'poppins',regular-400;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.9;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid cornflowerblue;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
button {
  width: 100%;
  background: cornflowerblue;
  border: 1px solid cornflowerblue;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  font-family: 'poppins',regular-400;
}

.submit-btn {
  position: relative;
  color: white;
}


.second_text {
  background: black;
}
.card a ::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
  transition: 0.5s;
  z-index: 2;
}

.card a :hover::after {
  width: 100%;
  z-index: 2;
}

button:hover {
  border: 2px solid cornflowerblue;
  border-radius: 15px;
  background: cornflowerblue;
  transition: 0.8s;
  color: #fff;
  opacity: 1;
}

.card h6 {
    font-family: 'poppins',regular-400;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.userimage{
  margin-left: 30%;
  color: lightskyblue;
}
span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: center;
}
.card a {
    font-family: 'poppins',regular-400;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}
.card h2 {
    
    text-align: center;
    font-size: 30px;
    letter-spacing: 8px;
    margin-top: auto;
}

.second_text p {
    color: white;
}

.sidebar {
    display: none;
}

#check {
    display: none;
}


#home{
  color: cornflowerblue;
}

#preloader
{
    background: whitesmoke url("../videos/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}


.video{
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{
    width: 100%;
    background: transparent;
    border: 1px solid cornflowerblue;
    margin: 15px 0;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
    font-family: 'poppins',regular-400;
}
.filename2{
  width: 200px;
  height: 100px;
  border-radius: 8px;

}
@media (max-width:1150px) and (orientation: landscape)
{
  
  .card{
    width: 800px;
  }
}

@media (max-width:1030px) and (orientation: landscape)
{

  .card{
    width: 800px;
  }
}

@media (max-width:930px) and (orientation: landscape)
{

  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:912px) and (orientation: landscape)
{

  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:900px) and (orientation: landscape)
{

  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:830px) and (orientation: landscape)
{

  .card{
    width: 600px;
  }
  .account{
    margin-left: 40%;
  }
}

@media (max-width:815px) and (orientation: landscape)
{

  .card{
    width: 600px;
    height: 1650px;
  }
}

@media (max-width:800px) and (orientation: landscape)
{

  .card{
    width: 600px;
    height: 1700px;
  }
}

@media (max-width:750px) and (orientation: landscape)
{
  .sign-up-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 600px;
    height: 1700px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }



}

@media (max-width:720px) and (orientation: landscape)
{

  
  .card{
    height: 1600px;
  }
}
@media (max-width:717px) and (orientation: landscape)
{


  .card{
    height: 1600px;
  }
}

@media (max-width:714px) and (orientation: landscape)
{


  .card{
    height: 1700px;
  }
}



@media (max-width:670px) and (orientation: landscape)
{

  .card{
    width: 500px;

  }
}


@media (max-width:645px) and (orientation: landscape)
{

  .card{
    width: 500px;

  }

}

@media (max-width:600px) and (orientation: landscape)
{

  .card{
    width: 500px;
  }
}

@media (max-width:1150px) and (orientation: portrait)
{
  
  .card{
    width: 800px;
  }
}

@media (max-width:1030px) and (orientation: portrait)
{

  .card{
    width: 800px;
  }
}

@media (max-width:930px) and (orientation: portrait)
{

  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:912px) and (orientation: portrait)
{

  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:900px) and (orientation: portrait)
{

  .card {
    width: 700px;
    height: 1670px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  .account{
    margin-left: 38%;
  }
}

@media (max-width:830px) and (orientation: portrait)
{

  .card{
    width: 600px;
  }
  .account{
    margin-left: 40%;
  }
}

@media (max-width:815px) and (orientation: portrait)
{

  .card{
    width: 600px;
    height: 1650px;
  }
}

@media (max-width:800px) and (orientation: portrait)
{

  .card{
    width: 600px;
    height: 1700px;
  }
}

@media (max-width:750px) and (orientation: portrait)
{
  .sign-up-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 600px;
    height: 1700px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }


}

@media (max-width:720px) and (orientation: portrait)
{


  .card{
    height: 1600px;
  }
}
@media (max-width:717px) and (orientation: portrait)
{


  .card{
    height: 1600px;
  }
}

@media (max-width:714px) and (orientation: portrait)
{

 
  .card{
    height: 1600px;
  }
}



@media (max-width:670px) and (orientation: portrait)
{

  .card{
    width: 500px;
    height: 1550px;
  }
}

@media (max-width:655px) and (orientation: portrait)
{

  .card{
    height: 1550px;
  }
}
@media (max-width:645px) and (orientation: portrait)
{

  .card{
    width: 500px;
    height: 1550px;
  }

}

@media (max-width:600px) and (orientation: portrait)
{

  .card{
    width: 500px;
  }
}

@media (max-width:500px)

{



.sign-up-box {
  width: 100%;

  
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 1600px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  perspective: 1000px;
}


.second_text{
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  bottom: 0;
  position: sticky;
}
body{
  background: black;
}

label{
  font-size: 10px;
  width: 60%;
}

nav img{
  width: 140px;
}
}
@media(max-width:430px){

  .card h6{
    font-size: 14px;
  }
  .card h2{
    font-size: 16px;
    letter-spacing: 4px;
  }
}
@media (max-width:415px)
{
  nav img{
    width: 140px;
  }

  .card {
    width: 320px;
    height: 1800px;
    margin-top: 0px;
  }
  


.userimage{
  margin-left: 10%;
  
}

.account{
  margin-left: 30%;
}

  
}

@media (max-width:385px)
{
 
  .card{
    height: 1800px;
  }

}
@media (max-width:320px)
{
 body{
  background: cornflowerblue;
 }
 .second_text{
  width: 105%;
 }

.card{
  width: 280px;
  height: 1800px;
}
}

@media (max-width:280px)
{
 

.card{
  width: 260px;
  height: 1800px;
}
}