* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background: cornflowerblue;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1112;   
}

nav img {
  width: 200px;
}

.sign-up-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,100,0.7) , rgba(0,0,100,0.7)), url("../../images/7777.jpg");
}
.card {
    width: 600px;
    height: 1200px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.4);
    align-items: center;
    perspective: 1000px;
    margin-top: 50px;
}
.account{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid cornflowerblue;
}
.n{
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="file"]{
  display:none;
}
label{
  color: white;
  border: 1px solid cornflowerblue;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  background:cornflowerblue ;
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'poppins',regular-400;
  font-size: 12px;
}
label:hover{
  opacity: 1;
}
.filename{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 25px;
 
}
.filename2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front , .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8) , rgba(0,0,100,0.8)), url("../../images/loader.gif");
    box-sizing: border-box;
    padding: 55px;
    backface-visibility: hidden;
}


.second_text {
    text-align: left;
    display: flex ;
    justify-content: center;
    z-index: 1111;
    
}

.second_text p {
    padding-top: 11px;
}


.card h2 {
  font-weight: normal;
  font-size: 25px;
  font-family: 'poppins',regular-400;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0.9;
  letter-spacing: 8px;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid cornflowerblue;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
button {
  width: 100%;
  background: cornflowerblue;
  border: 1px solid cornflowerblue;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 5px;
  box-sizing: border-box;
  outline: none;
  color: white;
  cursor: pointer;
  font-family: 'poppins',regular-400;
  opacity: 0.8;
}

.submit-btn {
  position: relative;
  color: white;
  font-family: 'poppins',regular-400;
}


.second_text {
  background: black;
}
.card a ::after {
  content: '';
  width: 0%;
  height: 2px;
  display: block;
  background: white;
  margin: auto;
  transition: 0.5s;
  z-index: 2;
}

.card a :hover::after {
  width: 100%;
  z-index: 2;
}

button:hover {
  border-radius: 15px;
  background: cornflowerblue;
  transition: 0.8s;
  color: #fff;
  opacity: 1;
}

.card h6 {
    font-family: 'poppins',regular-400;
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    opacity: 0.85;
    margin-bottom: 20px;
    margin-top: 20px;
}
.userimage{
  margin-left: 30%;
  color: lightskyblue;
}
span {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12px;
    text-align: center;
}
.card a {
    font-family: 'poppins',sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}


.second_text p {
    color: white;
}

.sidebar {
    display: none;
}

#check {
    display: none;
}


#home{
  color: cornflowerblue;
}

@media (max-width:1030px) and (orientation: landscape)
{
 
  .card{
    width: 700px;
  }
}

@media (max-width:900px) and (orientation: landscape)
{
  
  .card {
    width: 500px;
    height: 1200px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
  label{
    width: 60%;
    font-size: 12px;
  }
}

@media (max-width:800px) and (orientation: landscape)
{

  .card{
    width: 550px;
    height: 1200px;
  }
  nav img{
    width: 140px;
  }
  
}

@media (max-width:700px) and (orientation: landscape)
{

  .card {
    width: 500px;
    height: 900px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }

}

@media (max-width:600px) and (orientation: landscape)
{

  .card{
    width: 500px;
  }
}

@media (max-width:1030px) and (orientation: portrait)
{
 
  .card{
    width: 700px;
  }
  nav img{
    width: 140px;
  }
}

@media (max-width:930px) and (orientation: portrait)
{
  
  .card {
    width: 350px;
    height: 800px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }
}

@media (max-width:800px) and (orientation: portrait)
{

  .card{
    width: 550px;
    height: 900px;
  }
}

@media (max-width:750px) and (orientation: portrait)
{

  .card {
    width: 500px;
    height: 900px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
  }

}

@media (max-width:600px) and (orientation: portrait)
{

  .card{
    width: 500px;
  }
}
@media (max-width:500px)

{

.card {
  width: 350px;
  height: 1300px;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
  perspective: 1000px;
}



.second_text{
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
body{
  background: black;
  height: -webkit-fill-available;
}

label{
  width: 60%;
  font-size: 12px;
}

.card h2{
  font-size: 15px;
  letter-spacing: 4px;
}


}

@media (max-width:400px)
{
  nav img{
    width: 140px;
  }
 
  .card {
    width: 300px;
    height: 1300px;
  }

  .second_text{
    position: sticky;
    bottom: 0;
   }
  
}

@media (max-width:330px)
{
 body{
  background: cornflowerblue;
 }
 .second_text{
  width: 105%;
 }

}