*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

:root {
    --primary-color: black;
    --secondary-color: white;
}

.white-theme{
    --primary-color:whitesmoke;
    --secondary-color:black;
   
}
.white-theme nav{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.white-theme,.banner {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.white-theme,.secondbanner{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.sidebar img {
    width: 200px;
    padding: 20px 0px;
}

.sidebar ul li a{
    list-style: none;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: var(--secondary-color);
    padding-left: 12px;

}
.sidebar {
    width: 300px;
    height: 100vh;
    background: var(--primary-color);
    position: fixed;
    top: 0;
    padding-top: 85px;
    left: -300px;
    transition: all 0.5s ease-in-out;
    z-index: 9;
    
}

.sidebar ul li a:hover{
    border: solid 3px lightskyblue;
    border-radius: 20px;
    background: lightskyblue;
    width: max-content;
    padding-left: 12px;
    transition: 0.4s;
}

.sidebar ul li i {
    margin-right: 12px;
    color: cornflowerblue;
}

#check {
    display: none;
}

label #btn,label #cancel {
    position: absolute;
    cursor: pointer;
}
label #btn {
    
    font-size: 48px;
    color: lightskyblue;
    transition: all 0.5s ease;
    padding: 0px 0px;
    margin-top: 10px;
}

label #cancel {
    z-index: 1111;
    left: -220px;
    top: 100px;
    font-size: 20px;
    color: lightskyblue;
    transition: all 0.5s ease;
}

#check:checked~.sidebar {
    left: 0;
}
#check:checked ~ label #cancel {
    left: 220px;
}
#check:checked ~ label #btn {
    opacity: 0;
    pointer-events: none;
}

nav img{
    width: 210px;
    padding: 0px 60px;
}

.nav-right ul li {
    display: inline-block;
    list-style: none ;
    padding: 12px 6px;
 }
.flex-div {
    display: flex;
    align-items: center;
}

.account{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0px 0px;
}
.account:hover{
    border: 1px solid lightskyblue;
}
.minimenu{
    position: absolute;
    background: var(--primary-color);
    width: 170px;
    border: 2px solid lightskyblue;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    border-top: 0;
    top: 60px;
    right: 0;
}
.minimenu ul li a{
    padding: 0px 0px;
    color: var(--secondary-color);
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}
.minimenu ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: lightskyblue;
    transition: 0.5s;
}

.minimenu ul li a:hover::after {
    width: 100%;
}

nav {
    padding: 5px 10px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}


.nav-right i {
    color: lightskyblue;
    font-size: 18px;
    cursor: pointer;
}

.nav-middle i {
    color: lightskyblue;
    font-size: 20px;
    padding: 0px 4px;
    cursor: pointer;
}
.minimenu i{
    color: cornflowerblue;
    margin-right: 12px;
}

.search {
    border: solid 2px lightskyblue;
    border-radius: 20px;
    height: 30px;
    width: 700px;
    background: whitesmoke;
    text-align: center;
    
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
    background: var(--primary-color);
    
}
.banner h1 {
    color: cornflowerblue;
    margin-top: 30px;
    letter-spacing: 8px;
    word-spacing: 0px;
   
   
}



.secondbanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.05);
    background: transparent;
}
.secondbanner h1 {
    color: navy;
    margin-top: 30px;
    letter-spacing: 12px;
    word-spacing: 0px;
    font-size: 20px;
   
}
.secondbanner i{
    color: navy;
}

#preloader
{
    background: whitesmoke url("../videos/loader2.gif") no-repeat center center;
    background-size: 10%;
    width: 100%;
    height: 100vh;
    z-index: 15;
    position: fixed;
}
#theme-icon{
    color: whitesmoke;
}
.white-theme #theme-icon{
    color: black;
}

#selected{
    border: solid 3px lightskyblue;
    border-radius: 20px;
    background: lightskyblue;
    width: max-content;
    padding-left: 12px;
}

.ipaccount{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid lightskyblue;
}

.accountscontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
    height: 100px;
}

.thirdbanner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top: 50px;
}

.thirdbanner h1{
    color: cornflowerblue;
    letter-spacing: 12px;
    word-spacing: 0px;
    font-size: 20px;
}

.flex-div {
    display: flex;
    align-items: center;
}

.thumbnail {
    width: 100%;
    height: 200px;
    border-radius: 10px;
   }

.accounticon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 5px;
}

.videodescription{
    width: 100%;
}

.video p{
    color: lightskyblue;
    font-family: 'poppins',sans-serif;
}

.contentcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

  .subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  .subscribebox{
    width: 500px;
    height: 300px;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
  }
  #account{
    margin-top: 20px;
  }
  .subaccount{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #paymentinfo{
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    margin-top: 30px;
    margin-left: 20px;
  }
  #paymentbutton{
    width: 200px;
    height: 35px;
    border: 2px solid lightskyblue;
    border-radius: 20px;
    margin-top: 30px;
    background: transparent;
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
    transition: all 0.5s;
  }
  #paymentbutton:hover{
    background: lightskyblue;
    color: white;
  }
  #searchfail{
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
    margin-top: 60px;
  }

  .play-container{
    padding: 2%;
  }

  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .play-video{
    flex-basis: 69%;
  }

  .right-sidebar{
    flex-basis: 30%;
  }

  .play-video video{
    width: 90%;
   
  }

  .old-comment p{
    color: lightskyblue;
}

  .play-video .tags a{
    color: lightskyblue;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    font-size: 12px;
  }

  .play-video h3,.comment-number{
    font-family: 'poppins','Times New Roman', Times, serif;
    color: cornflowerblue;
    font-size: 12px;
  }

  .account3{
    width: 15px;
    height: 15px;
    border-radius: 100%;
  }
.videoinfo{
    margin-top: 8px;
}

.videoinfo p,.publisher-details a,.publisher-followers,.commentheader,.recomendedvideosheader,.vid-info a,
.vid-info p{
    color: cornflowerblue;
    text-decoration: none;
}
.vid-info a{
    font-size: 14px;
    
}
.vid-info p{
    font-size: 8px;
}
.publisher-name{
    font-family: 'poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.publisher-followers{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.unlockers{
    margin-left: 8px;
}
.video-border{
    margin: 10px 0;
    border: 0;
    height: 1px;
    background: cornflowerblue;
}
.publisher-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.publisher{
    margin-top: 20px;
    margin-bottom: 20px;
}
.center-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.commentheader{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 12px;
}
.recomendedvideosheader{
    margin-top: 0;
    margin-bottom: 50px;
}
.add-comment input{
    border: 0;
    outline: none;
    border-bottom: 1px solid cornflowerblue;
    width: 300px;
    background: transparent;
    color: lightskyblue;
}

.add-comment button{
    display: none;
}
.add-comment{
    margin-top: 20px;
    margin-bottom: 20px;
}
#reply{
    margin-top: 12px;
    margin-bottom: 12px;
}
#descriptionbutton{
    background: transparent;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    text-align: center;
    height: 32px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description{
    width: 100%;
    border: 2px solid cornflowerblue;
    border-radius: 18px;
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    text-align: center ;
    height: 200px;
    margin-top: 20px;
}
#descriptionbutton:hover{
    color: white;
    background: cornflowerblue;
}

.comment-action button{
    background: transparent;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    color: cornflowerblue;
    font-family: 'poppins',sans-serif;
    text-align: center;
    height: 25px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 8px;
}
.comment-action button:hover{
    color: white;
    background: cornflowerblue;
}

  .side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  #small-thumbnail{
    width: 100%;
    height: 100px;
    border-radius: 2px;
  }

  .small-thumbnail{
    flex-basis: 49%;
  }

  .vid-info{
    flex-basis: 49%;
  }

  #commenticon,.caption,#eyeicon{
    color: cornflowerblue;
  }

  #commenticon{
    cursor: pointer;
  }

.videoinfo p{
    font-size: 12px;
}

#button{
    background: transparent;
    border-color: transparent;
}
@media (max-width:1200px)
{
    .search{
        width: 300px;
    }
    .sidebar {
        padding-top: 60px;
        overflow-y: scroll;
    }
    label #cancel {
        top: 78px;
    }

    .accountscontainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 8px;
        margin-top: 50px;
        margin-left: 8px;
        margin-right: 8px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
    }
    
    .thirdbanner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-top: 30px;
    }
    
    .thirdbanner h1{
        color: cornflowerblue;
        letter-spacing: 8px;
        word-spacing: 0px;
        font-size: 15px;
    }
    
    #header{
        margin-top: 30px;
        font-size: 20px;
    }
    .ipaccount{
        width: 50px;
        height: 50px;
    }
}
@media (max-width:1000px)
{
    .search{
        width: 350px;
    }
    nav img{
        width: 150px;
        padding: 0px 40px;
        
    }
    label #btn{
        font-size: 33px;
    }
    .nav-right i {
        font-size: 15px;
    }
    .nav-middle i {
        font-size: 15px;
    }

    .accountscontainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 8px;
        margin-top: 50px;
        margin-left: 8px;
        margin-right: 8px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
    }
    
    .thirdbanner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-top: 30px;
    }
    
    .thirdbanner h1{
        color: cornflowerblue;
        letter-spacing: 8px;
        word-spacing: 0px;
        font-size: 15px;
    }
    
    #header{
        margin-top: 30px;
        font-size: 20px;
    }
    .ipaccount{
        width: 50px;
        height: 50px;
    }

    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 2%;
    }
    .play-video{
        width: 80%;
    }
    .recomendedvideosheader{
        margin-top: 50px;
        
    }
    
   
}
@media (max-width:800px){
    .search{
        width: 200px;
        height: 20px;
    }

    .account{
        width: 20px;
        height: 20px;
        margin-top: 0;
    }
    nav img {
        width: 110px;
        margin-top: 2px;
    }
    label #btn {
        font-size: 25px;
        padding: 0px 0px;
        margin-top: 7px;
    }
    nav {
        padding: 0px 10px;
    }
    .nav-right i {
        font-size: 15px;
    }
    .nav-middle i {
        font-size: 15px;
    }
    .nav-right ul li {
        padding: 6px 1px;
     }
    
    .banner h1 {
       margin-top: 30px;
       letter-spacing: 4px;
       font-size: 20px;  
   }
   .secondbanner h1 {
       margin-top: 30px;
       letter-spacing: 4px;
       font-size: 10px;
      
   }
   .secondbanner i{
       font-size: 10px;
   }
   .minimenu{
    top: 35px;
}

.accountscontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 8px;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
}

.thirdbanner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top: 30px;
}

.thirdbanner h1{
    color: cornflowerblue;
    letter-spacing: 8px;
    word-spacing: 0px;
    font-size: 15px;
}

#header{
    margin-top: 30px;
    font-size: 20px;
}
.ipaccount{
    width: 50px;
    height: 50px;
}

}
@media (max-width:560px)
{
    .minimenu{
        width: 55px;
        padding: 10px;
        top: 35px;
    }
    .minimenu ul li a{
      font-size: 6px;
    }
    .minimenu i{
        margin-right: 8px;
    }
    .account{
        width: 13px;
        height: 13px;
        margin-top: 0;
    }
    .search{
        width: 100px;
        height: 13px;
        font-size: 8px;
    }
    
    nav img {
        width: 80px;
        padding: 0px 20px;
        margin-top: 6px;
    }
    label #btn {
        font-size: 18px;
        padding: 0px 0px;
        margin-top: 10px;
    }
    nav {
        padding: 0px 10px;
    }
    .nav-right i {
        font-size: 10px;
    }
    .nav-middle i {
        font-size: 10px;
        padding: 0px 2px;
    }
    .nav-right ul li {
        padding: 8px 0.5px;
     }
     .banner h1 {
        margin-top: 30px;
        letter-spacing: 4px;
        font-size: 10px;  
    }
    .secondbanner h1 {
        margin-top: 30px;
        letter-spacing: 4px;
        font-size: 5px;
       
    }
    .secondbanner i{
        font-size: 5px;
    }
    .sidebar ul li a{
        font-size: 10px;
    
    }
    .sidebar {
        width: 200px;
        left: -200px;
        padding-top: 40px;
    }
    label #cancel {
        left: -170px;
        font-size: 10px;
        top: 60px;
    }
    #check:checked ~ label #cancel {
        left: 170px;
    }
    .sidebar ul li i {
      font-size: 10px;
    }

    .accountscontainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 8px;
        margin-top: 50px;
        margin-left: 8px;
        margin-right: 8px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.01);
    }
    
    .thirdbanner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-top: 30px;
    }
    
    .thirdbanner h1{
        color: cornflowerblue;
        letter-spacing: 8px;
        word-spacing: 0px;
        font-size: 10px;
    }

    #header{
        margin-top: 50px;
        font-size: 15px;
    }
    .ipaccount{
        width: 50px;
        height: 50px;
    }

    .subscribebox{
        width: 250px;
        height: 350px;
        border: 2px solid cornflowerblue;
        border-radius: 20px;
      }

      #paymentinfo{
        color: cornflowerblue;
        font-family: 'poppins',sans-serif;
        margin-top: 30px;
      }
      #paymentbutton{
        width: 100px;
        height: 35px;
        border: 2px solid lightskyblue;
        border-radius: 20px;
        margin-top: 35px;
        background: transparent;
        color: cornflowerblue;
        font-family: 'poppins',sans-serif;
        cursor: pointer;
        transition: all 0.5s;
      }
      .videoinfo p{
        font-size: 14px;
        margin-bottom: 0;
      }
      .videoinfo img{
        margin-bottom: 2px;
      }
      .comment-action p{
        font-size: 10px;
      }
      .comment-action button{
      
        border-radius: 8px;
       
        height: 20px;
        width: 50px;
        margin-left: 8px;
        font-size: 10px;
    }
}

@media (max-width:360px){
    .search{
        width: 70px;
    }
    nav img {
        width: 80px;
    }
    label #btn {
        font-size: 17px;
        padding: 0px 0px;
    }
    nav {
        padding: 0px 10px;
    }
    .nav-right i {
        font-size: 8px;
    }
    .nav-middle i {
        font-size: 8px;
    }
    .nav-right ul li {
        padding: 0px 0px;
     }

     .videoinfo p{
        font-size: 12px;
        margin-bottom: 0;
      }

      .comment-action p{
        font-size: 8px;
      }
      .comment{
        font-size: 12px;
        margin-top: 8px;
      }
      .publisher-icon{
        width: 30px;
        height: 30px;
      }

      .old-comment h3,.comment-number{
        font-size: 14px;
      }

      .publisher-followers{
        font-size: 12px;
      }

      #publisher-icon{
        width: 35px;
        height: 35px;
      }

      #descriptionbutton{
       
        height: 30px;
        width: 180px;
       
    }

    .play-video h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}

@media (max-width:320px)
{
    .search{
        width: 50px;
    }
    nav img {
        width: 70px;
    }
    
    label #btn {
        font-size: 15px;
        padding: 0px 0px;
    }

    #header{
        margin-top: 150px;
    }

    .add-comment input{
        width: 260px;
    }

    .videoinfo p{
        font-size: 10px;
        margin-bottom: 0;
      }

    

      
  
}



